<!DOCTYPE html>
<html>
  <h2>
    <div>
      <% if @game.player_one_turn %>
      <%= @game.player2.name %> attacked
      <% else %>
      <%= @game.player1.name %> attacked
      <% end %>
    </div>
  </h2>
  <h2>
    <%= @game.player2.name %>: <%= @game.player2.hit_points %>HP
  </h2>
  <a href="/play">Back to Play </a>
</html>
